.search_bar {
    position: relative;
    top: 0;
    float: right;
    right: 20px;
    width: 100%;
    
}

.search_input {
    width: 0%;
    margin: 0px;
    padding: 0px;
     
    height: 36px;
    border: 2px solid var(--accent_colour_1);
    outline: none;
    transition: 0.3s;
}

.search_icon {
     
    outline: none;
    padding: 0px;
    margin: 0px;
    text-align: center;	
    height: 40px;
    width: 40px;
    right: 0px;
    border-radius: 100%;
    background-color: var(--dark_colour);
    transition: 0.3s;
}

.search_icon:hover {
    border-radius: 0;
    transition: 0.3s;
}

.search_icon:focus {
    border-radius: 0px;
}

.search_icon:focus + .search_input,
.search_input:focus {
    width: 50%;
    transition: 0.3s;
}